{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Acoustic Configurator</title>
    <style>
        #container { position: relative; }
        #container canvas, #overlay { position: absolute; }
        #overlay {
            pointer-events: auto; /* Allow mouse events to pass through */
            z-index: 1;
            width: 18%; /* Adjust width as needed */
            height: 100vh; /* Fill the entire height of the screen */
            overflow-y: auto; /* Enable scrolling if the content overflows */
            background-color: #f9f9f9; /* Optional: set a background color for clarity */
            padding: 10px; /* Optional: add padding inside the panel */
            box-sizing: border-box; /* Include padding and border in the width/height */
        }
        #overlay div { padding: 5px; }
        #loader {
            border: 5px solid #f3f3f3; /* Light grey */
            border-top: 5px solid #3d3d3d; /* Grey */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <div id="loader"></div> 
      <!-- overlay div -->
      <div id="container">
        <div id="overlay" class="p-6 bg-base-100 shadow-lg rounded-lg">
          <div class="flex flex-col gap-4">
            <label for="presets-dropdown" class="text-xl font-bold">Load Projects:</label>
            <select id="presets-dropdown" class="select select-bordered w-full" onchange="applyPreset()">
              <option value="" disabled selected>Select a project...</option>
              {% for preset in presets %}
              <option value="{{ preset.id }}" data-inputs="{{ preset.inputs|safe }}">{{ preset.name }}</option>
              {% endfor %}
            </select>
            <div class="flex gap-4">
              <button id="save-preset-button" class="btn btn-outline btn-neutral" onclick="savePreset()">Save</button>
              <button id="delete-preset-button" class="btn btn-outline btn-error" onclick="deletePreset()" disabled>Delete</button>
            </div>
          </div>
        
          <div id="inputs" class="mt-6">
            <h2 class="text-xl font-bold">Room Setup</h2>
        
            <div class="form-control">
              <label for="x_size" class="label">X Size (mm):</label>
              <input type="number" id="x_size" class="input input-bordered" value="5000">
            </div>
        
            <div class="form-control">
              <label for="y_size" class="label">Y Size (mm):</label>
              <input type="number" id="y_size" class="input input-bordered" value="5000">
            </div>
        
            <div class="form-control">
              <label for="z_size" class="label">Z Size (mm):</label>
              <input type="number" id="z_size" class="input input-bordered" value="3000">
            </div>
        
            <div class="form-control">
              <label for="numberOfDoors" class="label">Number of Doors:</label>
              <select id="numberOfDoors" class="select select-bordered">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
        
            <div class="form-control">
              <label for="doorPosition_1" class="label">Door Position 1:</label>
              <select id="doorWall_1" class="select select-bordered">
                <option value="wall1">Wall 1</option>
                <option value="wall2">Wall 2</option>
                <option value="wall3">Wall 3</option>
                <option value="wall4">Wall 4</option>
              </select>
              <input type="range" id="doorPosition_1" class="range range-accent range-xs" min="36" max="1000" value="500">
              <span id="doorPosition_1_value" class="text-xs text-slate-500" >500</span>
            </div>
        
            <div class="form-control">
              <label for="doorPosition_2" class="label">Door Position 2:</label>
              <select id="doorWall_2" class="select select-bordered">
                <option value="wall1">Wall 1</option>
                <option value="wall2">Wall 2</option>
                <option value="wall3">Wall 3</option>
                <option value="wall4">Wall 4</option>
              </select>
              <input type="range" id="doorPosition_2" class="range range-accent range-xs" min="36" max="1000" value="835">
              <span id="doorPosition_2_value" class="text-xs text-slate-500">835</span>
            </div>
        
            <div class="form-control">
              <label for="doorPosition_3" class="label">Door Position 3:</label>
              <select id="doorWall_3" class="select select-bordered">
                <option value="wall1">Wall 1</option>
                <option value="wall2">Wall 2</option>
                <option value="wall3">Wall 3</option>
                <option value="wall4">Wall 4</option>
              </select>
              <input type="range" id="doorPosition_3" class="range range-accent range-xs" min="36" max="1000" value="200">
              <span id="doorPosition_3_value" class="text-xs text-slate-500">200</span>
            </div>
        
            <div class="form-control">
              <label for="numberOfWindows" class="label">Number of Windows:</label>
              <select id="numberOfWindows" class="select select-bordered">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
        
            <div class="form-control">
              <label for="windowPosition_1" class="label">Window Position 1:</label>
              <select id="windowWall_1" class="select select-bordered">
                <option value="wall1">Wall 1</option>
                <option value="wall2" selected>Wall 2</option>
                <option value="wall3">Wall 3</option>
                <option value="wall4">Wall 4</option>
              </select>
              <input type="range" id="windowPosition_1" class="range range-accent range-xs" min="0" max="1000" value="300">
              <span id="windowPosition_1_value" class="text-xs text-slate-500">300</span>
            </div>
        
            <div class="form-control">
              <label for="windowPosition_2" class="label">Window Position 2:</label>
              <select id="windowWall_2" class="select select-bordered">
                <option value="wall1">Wall 1</option>
                <option value="wall2">Wall 2</option>
                <option value="wall3">Wall 3</option>
                <option value="wall4">Wall 4</option>
              </select>
              <input type="range" id="windowPosition_2" class="range range-accent range-xs" min="0" max="1000" value="600">
              <span id="windowPosition_2_value" class="text-xs text-slate-500">600</span>
            </div>
        
            <div class="form-control">
              <label for="windowPosition_3" class="label">Window Position 3:</label>
              <select id="windowWall_3" class="select select-bordered">
                <option value="wall1">Wall 1</option>
                <option value="wall2">Wall 2</option>
                <option value="wall3">Wall 3</option>
                <option value="wall4">Wall 4</option>
              </select>
              <input type="range" id="windowPosition_3" class="range range-accent range-xs" min="0" max="1000" value="900">
              <span id="windowPosition_3_value" class="text-xs text-slate-500">900</span>
            </div>
        
            <hr class="my-4 border-base-300">
        
            <h2 class="text-xl font-bold">Speaker Setup</h2>
        
            <div class="form-control">
              <label for="stereoSetup" class="label">Stereo Setup:</label>
              <input type="checkbox" id="stereoSetup" class="checkbox">
            </div>
        
            <div class="form-control">
              <label for="speakerSetup" class="label">Speaker Setup:</label>
              <select id="speakerSetup" class="select select-bordered">
                <option value="1" selected>7.1.4</option>
                <option value="2">7.1.6</option>
                <option value="3">9.1.4</option>
                <option value="4">9.1.6</option>
              </select>
            </div>
        
            <div class="form-control">
              <label for="changeSpeakerOrientationToOrthogonal" class="label">Orthogonal Speaker Orientation:</label>
              <input type="checkbox" id="changeSpeakerOrientationToOrthogonal" class="checkbox">
            </div>
        
            <div class="form-control">
              <label for="listenerPosition" class="label">Listener Position (mm):</label>
              <input type="range" id="listenerPosition" class="range range-accent range-xs" min="800" max="1500" value="940">
              <span id="listenerPosition_value" class="text-xs text-slate-500">940</span>
            </div>
        
            <div class="form-control">
              <label for="speakerWallOffset" class="label">Speaker Wall Offset (mm):</label>
              <input type="range" id="speakerWallOffset" class="range range-accent range-xs" min="250" max="1000" value="500">
              <span id="speakerWallOffset_value" class="text-xs text-slate-500">500</span>
            </div>
        
            <div class="form-control">
              <label for="speakerOrientation" class="label">Speaker Orientation:</label>
              <select id="speakerOrientation" class="select select-bordered">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
              </select>
            </div>
        
            <div class="form-control">
              <label for="additionalFirstLayerSpeakers" class="label">Additional First Layer Speakers:</label>
              <input type="checkbox" id="additionalFirstLayerSpeakers" class="checkbox">
            </div>
        
            <div class="form-control">
              <label for="additionalSecondLayerSpeakers" class="label">Additional Second Layer Speakers:</label>
              <input type="checkbox" id="additionalSecondLayerSpeakers" class="checkbox">
            </div>
        
            <div class="form-control">
              <label for="frontSpeakerAngle" class="label">Front Speaker Angle:</label>
              <input type="range" id="frontSpeakerAngle" class="range range-accent range-xs" min="22" max="40" value="30">
              <span id="frontSpeakerAngle_value" class="text-xs text-slate-500">30</span>
            </div>
        
            <div class="form-control">
              <label for="sideSpeakerAngle" class="label">Side Speaker Angle:</label>
              <input type="range" id="sideSpeakerAngle" class="range range-accent range-xs" min="90" max="110" value="100">
              <span id="sideSpeakerAngle_value" class="text-xs text-slate-500">100</span>
            </div>
        
            <div class="form-control">
              <label for="rearSpeakerAngle" class="label">Rear Speaker Angle:</label>
              <input type="range" id="rearSpeakerAngle" class="range range-accent range-xs" min="120" max="150" value="135">
              <span id="rearSpeakerAngle_value" class="text-xs text-slate-500">135</span>
            </div>
        
            <div class="form-control">
              <label for="adjustOverheadSpeakers" class="label">Adjust Overhead Speakers:</label>
              <input type="range" id="adjustOverheadSpeakers" class="range range-accent range-xs" min="-1000" max="500" value="-520">
              <span id="adjustOverheadSpeakers_value" class="text-xs text-slate-500">-520</span>
            </div>
        
            <hr class="my-4 border-base-300">
        
            <h2 class="text-xl font-bold">Add Absorbers</h2>
        
            <div class="form-control">
              <label for="adjustAbsorberAmount" class="label">Adjust Absorber Amount:</label>
              <input type="range" id="adjustAbsorberAmount" class="range range-accent range-xs" min="0" max="50" value="0">
              <span id="adjustAbsorberAmount_value" class="text-xs text-slate-500">0</span>
            </div>
        
            <div class="form-control">
              <label for="adjustAbsorberAmountCeiling" class="label">Adjust Absorber Amount (Ceiling):</label>
              <input type="range" id="adjustAbsorberAmountCeiling" class="range range-accent range-xs" min="0" max="30" value="0">
              <span id="adjustAbsorberAmountCeiling_value" class="text-xs text-slate-500">0</span>
            </div>

            <hr class="my-4 border-base-300">
        
            <h2 class="text-xl font-bold">Materials</h2>
        
            <div class="form-control">
              <label for="selectAbsorberType" class="label">Absorber Material:</label>
              <select id="selectAbsorberType" class="select select-bordered">
                <option value="" disabled selected>Select a material</option>
                {% for material in materials %}
                <option value="{{ material.id }}">{{ material.name }}</option>
                {% endfor %}
              </select>
              <button id="deleteMaterialButton" class="btn btn-outline btn-error btn-sm" onclick="deleteMaterial()">Delete</button>
            </div>
            
            
            <div class="form-control mt-2">
              <button class="btn btn-outline btn-secondary btn-sm" onclick="openMaterialModal()">Create Material</button>
            </div>
      
            <div id="widgetControls" class="mt-4">
              <h3 class="text-lg font-bold">Toggle Widgets</h3>
              <div id="widgetToggles" class="flex flex-wrap gap-2">
                <!-- Dynamically generated checkboxes -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Present and signout buttons -->
      <div id="topbar" class="fixed bottom-2 right-2 p-4 bg-base-100 border border-base-300 rounded-lg shadow-lg flex items-center gap-4">
        <span class="text-sm font-medium">Signed in as: {{ user.username }}</span>
        <button id="presentButton" class="btn btn-outline btn-primary btn-sm" onclick="startPresentation()">Present</button>
        <button class="btn btn-outline btn-secondary btn-sm" onclick="window.location.href='/logout/';">Logout</button>
      </div>
      <!-- KOST logo container-->
      <div id="logo-container" class="absolute top-8 right-5 z-50 text-center">
        <img src="{% static 'rhino_app/Kost_Logo-schwarz.png' %}" alt="Logo" id="logo" class="w-24 h-auto object-contain">
      </div>

      <!-- Widgets as daisy ui stats-->
      <div id="stats" class="stats stats-vertical shadow absolute mt-24 h-auto right-5 z-50">
        <!-- Number of Absorbers (Walls) -->
        <div class="stat">
          <div class="stat-title">No of Absorbers</div>
          <div id="noOfAbsorbersWall" class="stat-value">0</div>
          <div class="stat-desc">(Walls)</div>
        </div>
        <!-- Number of Absorbers (Ceiling) -->
        <div class="stat">
          <div class="stat-title">No of Absorbers</div>
          <div id="noOfAbsorbersCeiling" class="stat-value">0</div>
          <div class="stat-desc">(Ceiling)</div>
        </div>
        <!-- Floor Area -->
        <div class="stat">
          <div class="stat-title">Floor Area</div>
          <div id="floorArea" class="stat-value">0</div>
          <div class="stat-desc">(Square Meters)</div>
        </div>      
        <!-- Total Cost -->
        <div class="stat">
          <div class="stat-title">Cost</div>
          <div id="totalCost" class="stat-value">0</div>
          <div class="stat-desc">(€)</div>
        </div>      
        <!-- Selected Material -->
        <div class="stat">
          <div class="stat-title">Material</div>
          <div id="selectedMaterial" class="stat-value "> - </div>
        </div>
      </div>
      <div id="chartContainer" class="absolute top-[683px] right-5 p-4 bg-base-100 shadow-lg rounded-lg">
        <canvas id="rtChart" class="w-full h-full"></canvas>
        <!-- Resizing Handle -->
      </div>   
    </div>

    <!-- Material Modal -->
    <input type="checkbox" id="materialModal" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Create New Material</h3>
        <form id="materialForm" action="{% url 'create_material' %}" method="POST" class="space-y-4">
          {% csrf_token %}
          <div class="form-control">
            <label for="materialName" class="label">Material Name:</label>
            <input type="text" name="name" id="materialName" class="input input-bordered no-update" placeholder="Enter material name" required>
          </div>
          <div class="form-control">
            <label class="label">Absorption Coefficients:</label>
            <div class="grid grid-cols-2 gap-2">
              <div>
                <label for="absorption_125hz" class="label">125 Hz:</label>
                <input type="number" name="absorption_125hz" id="absorption_125hz" class="input input-bordered no-update" step="0.01" min="0" max="1" placeholder="0.0" required>
              </div>
              <div>
                <label for="absorption_250hz" class="label">250 Hz:</label>
                <input type="number" name="absorption_250hz" id="absorption_250hz" class="input input-bordered no-update" step="0.01" min="0" max="1" placeholder="0.0" required>
              </div>
              <div>
                <label for="absorption_500hz" class="label">500 Hz:</label>
                <input type="number" name="absorption_500hz" id="absorption_500hz" class="input input-bordered no-update" step="0.01" min="0" max="1" placeholder="0.0" required>
              </div>
              <div>
                <label for="absorption_1000hz" class="label">1000 Hz:</label>
                <input type="number" name="absorption_1000hz" id="absorption_1000hz" class="input input-bordered no-update" step="0.01" min="0" max="1" placeholder="0.0" required>
              </div>
              <div>
                <label for="absorption_2000hz" class="label">2000 Hz:</label>
                <input type="number" name="absorption_2000hz" id="absorption_2000hz" class="input input-bordered no-update" step="0.01" min="0" max="1" placeholder="0.0" required>
              </div>
              <div>
                <label for="absorption_4000hz" class="label">4000 Hz:</label>
                <input type="number" name="absorption_4000hz" id="absorption_4000hz" class="input input-bordered no-update" step="0.01" min="0" max="1" placeholder="0.0" required>
              </div>
              <div>
                <label for="cost_per_absorber" class="label">Cost per Unit:</label>
                <input type="number" name="cost_per_absorber" id="cost_per_absorber" class="input input-bordered no-update" step="0.01" min="0" max="1000" placeholder="0.0" required>
              </div>
            </div>
          </div>
          <div class="modal-action">
            <label for="materialModal" class="btn btn-outline btn-sm">Cancel</label>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
          </div>
        </form>
      </div>
    </div>


    <!-- Import maps polyfill -->
    <script async src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"></script>
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.156.1/build/three.module.js",
            "three/examples/jsm/controls/OrbitControls": "https://unpkg.com/three@0.156.1/examples/jsm/controls/OrbitControls.js",
            "three/examples/jsm/loaders/3DMLoader": "https://unpkg.com/three@0.156.1/examples/jsm/loaders/3DMLoader.js",
            "rhino3dm": "https://unpkg.com/rhino3dm@8.0.0-beta2/rhino3dm.module.js"
          }
        }
    </script>
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{% static 'rhino_app/js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const presetsDropdown = document.getElementById("presets-dropdown");
        const deletePresetButton = document.getElementById("delete-preset-button");

        // Enable/disable the delete button based on selection
        presetsDropdown.addEventListener("change", () => {
            if (typeof presetsDropdown.value === "string" && presetsDropdown.value.trim() !== "") {
                deletePresetButton.disabled = false; // Enable the button
            } else {
                deletePresetButton.disabled = true; // Disable the button
            }
        });


    });

    function openMaterialModal() {
      // Set the checkbox to checked to open the modal
      document.getElementById('materialModal').checked = true;
    }
</script>
</html>
